<section>
  <div class="col-10 mx-auto mt-5">
  <div class="btn btn-danger d-none" id="clickHourFunction" (click)="refreshCalendarTimeLine()">refreshCalender</div>
    <div class="d-flex justify-content-end text-right">
      <div class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addAvailability()"> Add Availability</div>
      <div class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2"> Copy Availability</div>
    </div>
   <div class="row">
    <!-- HEADER -->
    <div class="d-flex justify-content-center align-item-center">
      <div class="my-auto pointer me-5"  mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" x="0" y="0" viewBox="0 0 492 492" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
          <g>
            <path d="M198.608 246.104 382.664 62.04c5.068-5.056 7.856-11.816 7.856-19.024 0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12C361.476 2.792 354.712 0 347.504 0s-13.964 2.792-19.028 7.864L109.328 227.008c-5.084 5.08-7.868 11.868-7.848 19.084-.02 7.248 2.76 14.028 7.848 19.112l218.944 218.932c5.064 5.072 11.82 7.864 19.032 7.864 7.208 0 13.964-2.792 19.032-7.864l16.124-16.12c10.492-10.492 10.492-27.572 0-38.06L198.608 246.104z" fill="#000000" opacity="1" data-original="#000000" class=""></path>
          </g>
        </svg>
      </div>

      <div class="date-picker-wrapper">
        <div class="input-group mb-0 pointer">
          <div class="date-navigation">
            <div class="mr-4 mb-0 h4 p-sub-title-small-odd date-display" (click)="e.toggle()">
              {{formatter.format(dairyDate) | date:'EEEE, d MMMM y'}}
            </div>
          </div>
          <input type="text" (click)="e.toggle()"
           [navigation]="'arrows'"
           [displayMonths]="1"
           [firstDayOfWeek]="7"
           [dayTemplate]="t"
           outsideDays="hidden"
           class="form-control border-0 bg-white text-center fs-5 fw-bold date-input"
           [(ngModel)]="dairyDate"
           placeholder="Select End Date"
           ngbDatepicker #e="ngbDatepicker"
           (ngModelChange)="dateChange()"
           readonly>
          <ng-template #t let-date let-focused="focused">
            <span class="custom-day" [class.focused]="focused">
              {{ date.day }}
            </span>
          </ng-template>
          <div class="input-group-prepend" (click)="e.toggle()">
            <span (click)="e.toggle()" class="input-group-text rounded-right border-0 bg-white c-point date-toggle-icon" style="height: 45px; border-radius: 0;">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" x="0" y="0" viewBox="0 0 123.959 123.958" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                <g>
                  <path d="M117.979 28.017h-112c-5.3 0-8 6.4-4.2 10.2l56 56c2.3 2.3 6.1 2.3 8.401 0l56-56c3.799-3.8 1.099-10.2-4.201-10.2z" fill="#000000" opacity="1" data-original="#000000" class=""></path>
                </g>
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div
        class="my-auto pointer ms-5"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        >
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" x="0" y="0" viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
          <g>
            <path d="M382.678 226.804 163.73 7.86C158.666 2.792 151.906 0 144.698 0s-13.968 2.792-19.032 7.86l-16.124 16.12c-10.492 10.504-10.492 27.576 0 38.064L293.398 245.9l-184.06 184.06c-5.064 5.068-7.86 11.824-7.86 19.028 0 7.212 2.796 13.968 7.86 19.04l16.124 16.116c5.068 5.068 11.824 7.86 19.032 7.86s13.968-2.792 19.032-7.86L382.678 265c5.076-5.084 7.864-11.872 7.848-19.088.016-7.244-2.772-14.028-7.848-19.108z" fill="#000000" opacity="1" data-original="#000000" class=""></path>
          </g>
        </svg>
      </div>
    </div>
   </div>
  <br/>

  <!-- CALENDER -->
  <div [ngSwitch]="view">
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="calenderEvents"
      [refresh]="refresh"
      [weekStartsOn]="1"
      (hourSegmentClicked)="appointmentBoxClick($event)"
      [headerTemplate]="headerTemplate"
      [currentTimeMarkerTemplate]="currentTimeTemplate"
      [hourSegmentHeight]="40"
      [eventTemplate]="templatePlan"
      [hourSegmentTemplate]="customHourSegmentTemplate"
      >
    </mwl-calendar-week-view>
  </div>

  <ng-template #currentTimeTemplate let-dayStartHour="dayStartHour" let-hourSegments="hourSegments">
    <div class="cal-current-time-marker" [style.top]="hourTime">
    </div>
  </ng-template>

  <!-- EVENT TEMPLATE -->
  <ng-template #templatePlan let-weekEvent="weekEvent">
    <div class="" [ngClass]="weekEvent.event.meta ? (weekEvent.event.isPast ? 'pastSolt' : weekEvent.event.meta.status === 0 ? 'pastSolt' : 'bookedSlot') : (weekEvent.event.isPast ? 'pastSolt' : 'available-box')">
      <div class="available-text" (click)="openBookingEvent(weekEvent.event)">
        <div *ngIf="weekEvent.event.meta">
          <div *ngIf="weekEvent.event.meta.status === 0">
            Cancelled
          </div>
        </div>
        <div *ngIf="!weekEvent.event.meta && !weekEvent.event.isPast">
          <div>{{'Available'}}</div>
        </div>
        <div *ngIf="weekEvent.event.meta">
          <div [ngClass]="{'text-decoration-line-through':weekEvent.event.meta.status === 0}">{{weekEvent.event ? weekEvent.event.meta.name : 'Available'}}</div>
        </div>
      </div>

      <!-- CLOSE ICON -->
      <div *ngIf="!weekEvent.event.isPast">
      <div *ngIf="weekEvent.event.meta">
        <div class="close-btn pointer" (click)="deleteEventOrCancel(weekEvent)" *ngIf="weekEvent.event.meta.status !== 0">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill"  viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg>
        </div>
      </div>
      <div class="close-btn pointer" (click)="deleteEventOrCancel(weekEvent)" *ngIf="!weekEvent.event.meta">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill"  viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
        </svg>
      </div>
      </div>

    </div>
  </ng-template>

  <!-- HEADER TEMPLATE -->
  <ng-template #headerTemplate let-days="days" let-locale="locale" let-dayClicked="dayClicked" let-eventDropped="eventDropped">
    <div class="cal-day-headers cursor-default medium-text-10 medium-text-8">
      <!-- (mwlClick)="dayClicked.emit({date: day.date})" -->
      <div
        class="cal-header text-left"
        *ngFor="let day of days"
        [class.cal-past]="day.isPast"
        [class.cal-future]="day.isFuture"
        [class.cal-drag-over]="day.dragOver"
        mwlDroppable
        (dragEnter)="day.dragOver = true"
        (dragLeave)="day.dragOver = false"
        (drop)="day.dragOver = false; eventDropped.emit({event: $event.dropData.event, newStart: day.date, fromHeader: true})">
        <div class="top" [class.today]="day.isToday" [class.bold-today]="day.isToday">
          <div class="day-label text-uppercase">{{ day.date | date:'EEEE' }}</div>
          <div class="d-flex d-flex justify-content-between">
            <div class="day-number">{{ day.date | date:'d' }}</div>
            <div class="pointer" *ngIf="hasEvent(day.date) && !day.isPast" (mwlClick)="copyDate(day.date)">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="22" height="22" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class="p-light-color">
                <g>
                    <clipPath id="a">
                        <path d="M0 0h24v24H0z" fill="currentColor" opacity="1" data-original="currentColor" class=""></path>
                    </clipPath>
                    <g clip-path="url(#a)">
                        <path fill="currentColor" d="M15 1H4c-1.1 0-2 .9-2 2v13c0 .55.45 1 1 1s1-.45 1-1V4c0-.55.45-1 1-1h10c.55 0 1-.45 1-1s-.45-1-1-1zm4 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm-1 16H9c-.55 0-1-.45-1-1V8c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v12c0 .55-.45 1-1 1z" opacity="1" data-original="currentColor" class=""></path>
                    </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- HOUR SEGMENT -->
  <ng-template #customHourSegmentTemplate let-segment="segment" let-locale="locale" let-segmentHeight="segmentHeight" let-isTimeLabel="isTimeLabel">
    <div class="cal-hour-segment" [style.height.px]="segmentHeight" [class.cal-hour-start]="segment.isStart" [class.cal-after-hour-start]="!segment.isStart" [ngClass]="segment.cssClass">
      <div class="cal-time" *ngIf="isTimeLabel">
        {{ segment.displayDate | date: 'hh:mm a' : locale }}
      </div>
    </div>
  </ng-template>
  </div>
</section>

<!-- Modal -->
<button class="d-none" id="timsolot-popup-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">OpenPopUp</button>
<button class="d-none" id="copyolot-popup-btn" data-bs-toggle="modal" data-bs-target="#exampleModal2">CopyOpenPopUp</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Modal title</h5>
        <button type="button" id="exampleModalLabel" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <label>Start Date</label>
          <input type="date" class="form-control" [(ngModel)]="startDate"  [ngModelOptions]="{standalone: true}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

          <label class="mt-2">Start time</label>
          <!-- <input type="text" class="form-control" formControlName="startTime" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"> -->
          <ng-select [items]="AvailabilityTimeList" bindLabel="time" bindValue="value" [ngModelOptions]="{standalone: true}" (change)="_changeTime()" [(ngModel)]="startTime" ></ng-select>

          <label class="mt-2">End time</label>
          <!-- <input type="text" class="form-control" formControlName="endTime" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"> -->
          <ng-select [items]="endTimeList" bindLabel="time" [disabled]="true" bindValue="value" [ngModelOptions]="{standalone: true}" [(ngModel)]="endTime" ></ng-select>

          <div class="mt-4 row">
            <div class="col-12 mx-auto">
            <div class="btn btn-block btn-primary" (click)="addAppointment()">Add timesolt</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- copy -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" id="closeAddTimesolt" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>Date to copy from</label>
        <input type="date" class="form-control" aria-label="Sizing example input" [(ngModel)]="copyStartDate" aria-describedby="inputGroup-sizing-sm">

        <label class="mt-2">Date to copy to</label>
        <input type="date" class="form-control" aria-label="Sizing example input" [(ngModel)]="copyToDate" aria-describedby="inputGroup-sizing-sm">

        <div class="mt-4 row">
          <div class="col-12 mx-auto">
          <div class="btn btn-block btn-primary" data-bs-dismiss="modal" aria-label="Close" (click)="copyAppointment()">copy timesolts</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

